<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo center">Agenda Colaborador</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="/criar">Criar</a>
      </li>
    </ul>
  </div>
</nav>
