<h3>Novo Evento</h3>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="date-start" type="text" class="validate">
          <label for="date-start">Data Inicial</label>
        </div>
        <div class="input-field col s6">
          <input id="date-end" type="text" class="validate">
          <label for="date-end">Data Final</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea"></textarea>
          <label for="description">Descrição</label>
        </div>
      </div>
      <a class="btn">Salvar</a>
    </form>
  </div>
